@page "/authentication/login"
@layout LoginLayout
@using RenzoAgostini.Client.Services
@using RenzoAgostini.Shared.DTOs
@using Microsoft.AspNetCore.Components.Authorization
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject RenzoAgostini.Client.Authentication.CustomAuthenticationStateProvider CustomAuthStateProvider

<PageTitle>Login · Renzo Agostini</PageTitle>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="kc-message error">
        @errorMessage
    </div>
}

<EditForm id="kc-form-login" class="kc-form" Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />

    <div class="kc-field">
        <label for="username">Username o email</label>
        <InputText id="username" @bind-Value="loginModel.Email" autocomplete="username" autofocus />
        <ValidationMessage For="@(() => loginModel.Email)" class="kc-field-error" />
    </div>

    <div class="kc-field">
        <label for="password">Password</label>
        <InputText type="password" id="password" @bind-Value="loginModel.Password" autocomplete="current-password" />
        <ValidationMessage For="@(() => loginModel.Password)" class="kc-field-error" />
    </div>

    <div class="kc-actions">
        <div class="kc-buttons">
            <button type="submit" class="kc-btn primary">
                Accedi
            </button>
            <a class="kc-btn ghost" href="authentication/forgot-password">Password dimenticata?</a>
            <a class="kc-btn ghost" href="authentication/register">Registrati</a>
        </div>
    </div>
</EditForm>


