@page "/authentication/register"
@layout LoginLayout
@using RenzoAgostini.Client.Services
@using RenzoAgostini.Shared.DTOs
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<PageTitle>Register · Renzo Agostini</PageTitle>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="kc-message error">
        @errorMessage
    </div>
}

<EditForm id="kc-register-form" class="kc-form" Model="registerModel" OnValidSubmit="HandleRegister">
    <DataAnnotationsValidator />

    <div class="kc-field">
        <label for="firstName">Nome</label>
        <InputText id="firstName" @bind-Value="registerModel.Firstname" autocomplete="given-name" />
        <ValidationMessage For="@(() => registerModel.Firstname)" class="kc-field-error" />
    </div>

    <div class="kc-field">
        <label for="lastName">Cognome</label>
        <InputText id="lastName" @bind-Value="registerModel.Lastname" autocomplete="family-name" />
        <ValidationMessage For="@(() => registerModel.Lastname)" class="kc-field-error" />
    </div>

    <div class="kc-field">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="registerModel.Email" autocomplete="email" />
        <ValidationMessage For="@(() => registerModel.Email)" class="kc-field-error" />
    </div>

    <div class="kc-field">
        <label for="password">Password</label>
        <InputText type="password" id="password" @bind-Value="registerModel.Password" autocomplete="new-password" />
        <ValidationMessage For="@(() => registerModel.Password)" class="kc-field-error" />
    </div>

    <div class="kc-actions">
        <div class="kc-buttons">
            <button type="submit" class="kc-btn primary">
                Registrati
            </button>
            <a class="kc-btn-link" href="authentication/login">Torna al login</a>
        </div>
    </div>
</EditForm>


